/* This CSS overrides the main css */

body {
  background: #ececec;
  color: #333333;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
    
#protected{
  margin: 0;
  padding: 12px;
}

#protected * {
  white-space: normal;
  overflow-wrap: break-word;
}

#welcomeMessage{
  font-size: 18px;
  font-weight: 700;
}

#welcomeImage{
  position: absolute;
  left: 10px;
  width: 150px;
}

#welcomeBanner{
  width: 400px;
  margin-left: -120px;
  margin-top: 10px;
}

#leftPanel{
  height: 86vh;
  width: 12vw;
  box-shadow: 0 2px 40px rgba(0,0,0,0.5);
  position: absolute;
  left: 8px;
  bottom: 8px;
  list-style: none;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}


 /* Remove default list styles */
#leftPanel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  left: 0;
}

/* Style each list item as a small box */
#leftPanel ul li {
  background-color: #e0e0e0;   /* light grey box */
  margin: 0px 0;               /* spacing between boxes */
  padding: 12px 16px;          /* inner spacing */
  border-radius: 0px;
  transition: background-color 0.1s;
  cursor: pointer;
}

/* Hover effect */
#leftPanel ul li:hover {
  background-color: #d1d1d1;  /* slightly darker grey on hover */
}

#displayScreen{
  height: 85vh;
  width: 85vw;
  box-shadow: 0 2px 40px rgba(0,0,0,0.5);
  position: absolute;
  right: 8px;
  bottom: 8px;
}

#navBar{
  height: 9vh;
  width: 83vw;
  box-shadow: 0 2px 40px rgba(0,0,0,0.5);
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 18px;
  padding: 8px;
}

#navBar span {
  cursor: pointer;
}

/* *************************************************************** */
/* ---- Scrollbars - Remove classic ones and use sleeker ones ---- */

/* Target the element */
#protected * {
  overflow: auto; /* ensure they can scroll */
  scrollbar-width: thin; 
  scrollbar-color: rgba(255,255,255,0.3) transparent; /* Firefox */
}

/* Chrome, Edge, Safari */
#protected *::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#protected *::-webkit-scrollbar-track {
  background: transparent;
}

#protected *::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
  border-radius: 2px;
}
