/* This CSS overrides the main css */

body {
  background: #0b0c10;
  color: #c5c6c7;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
    
#protected{
  margin: 0;
  padding: 12px;
}

#protected * {
  white-space: normal;
  overflow-wrap: break-word;
}

#welcomeMessage{
  font-size: 18px;
  font-weight: 700;
}

#leftPanel{
  height: 86vh;
  width: 12vw;
  border: 1px solid red;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

#displayScreen{
  height: 85vh;
  width: 85vw;
  border: 1px solid red;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

#navBar{
  height: 11.5vh;
  width: 86vw;
  border: 1px solid red;
  position: absolute;
  right: 8px;
  top: 8px;
}

/* *************************************************************** */
/* ---- Scrollbars - Remove classic ones and use sleeker ones ---- */

/* Target the element */
#protected * {
  overflow: auto; /* ensure they can scroll */
  scrollbar-width: thin; 
  scrollbar-color: rgba(255,255,255,0.3) transparent; /* Firefox */
}

/* Chrome, Edge, Safari */
#protected *::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#protected *::-webkit-scrollbar-track {
  background: transparent;
}

#protected *::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
  border-radius: 2px;
}
