<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    <link rel="stylesheet" href="/style.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap" rel="stylesheet"> -->

{% seo %}
  </head>

  <body>

<div id="old-content">
  <h2>The Legendary Life of Aniket</h2>
  <div class="curtain">
    <div id="password-validation">
      <input type="password" id="passwordInput" placeholder="Enter password" autocomplete="off" />
    </div>
  </div>
</div>

<div id="protected">

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>Rockstar Aniket</h1>
        </a>
        <h5 style="color:white">live database works and documentation of Mr. Aniket</h5>

        <section id="downloads">
          <a href="/" class="btn">About</a>
          <a href="/blog/oracle.html" class="btn">Oracle</a>
          <a href="/blog/sqlserver.html" class="btn">SQL Server</a>
          <a href="/blog/postgresql.html" class="btn">PostgreSQL</a>
          <a href="/blog/mysql.html" class="btn">MySQL</a>
          <a href="/blog/linux.html" class="btn">Linux</a>
          <a href="/blog/networking.html" class="btn">Networking</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

  </body>
</html>
